@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
  color: black;
  background: white;
}

nav {
  position: fixed;
  background: rgb(21,21,21);
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}

nav .menu {
  max-width: 1250;
  margin: auto;
  displey: flex;
  align-items: center;
  justify-content: sapce-between;
  padding: 0 20px;
}

.menu .logo a {
  text-decoration: none;
  color: white;
  font-size: 53px;
  font-wight: 600;
}

.menu ul {
  display: inline-flex;
}

.menu ul li {
  list-style: none;
  margin-left: 7px;
}

.menu ul li:first-child {
  margin-left: 0px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;

.menu ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 30px 0;
}

.menu ul li {
    display: inline-block;
    margin: 0 10px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background: white;
    color: black;
}

.background {
    background: url('background.jpg') no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.background::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
  
.posisi {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.posisi h1 {
    color: white;
    font-size: 50px;
    font-weight: 600;
}

  .posisi h2 {
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.posisi p {
    color: white;
    font-size: 20px;
}

.posisi .tombol {
    margin-top: 20px;
}

.posisi .tombol button {
    height: 55px;
    width: 170px;
    border-radius: 15px;
    border: none;
    margin: 0 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    background: none;
    color: white;
    transition: all 0.3s ease;
}

.posisi .tombol button:first-child:hover {
    background: white;
    color: black;
}

.posisi .tombol button:last-child {
    background: white;
    color: black;
}
